<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>504652589251-2081jug11628tvqjufbff9qrnodlrkim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504652589251-2081jug11628tvqjufbff9qrnodlrkim</string>
	<key>API_KEY</key>
	<string>AIzaSyDgiA4DFAc42cGqmxOn65P5bMM5iWe3010</string>
	<key>GCM_SENDER_ID</key>
	<string>504652589251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lift.kwon.lift</string>
	<key>PROJECT_ID</key>
	<string>lift-621df</string>
	<key>STORAGE_BUCKET</key>
	<string>lift-621df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504652589251:ios:a66e5cdb28c6e341ca9a76</string>
</dict>
</plist>